<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <div class="containerTitle">
    <h1 id="h1_title">Multi-step form</h1>
    <h3 id="h2_title"></h3>

    <style>
      body h2 {
        font-style: italic;
      }
      .containerTitle {
        border: solid 1px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    </style>
  </div>
</html>
