<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paid page</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../../assets/icons/Vector.svg" />
  </head>
  <main id="main_page">
    <div class="containerPaidPage">
      <h1>
        Thank you for your purchase!

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="22"
          viewBox="0 0 100 100"
          fill="none"
        >
          <!-- Circle -->
          <circle
            cx="50"
            cy="50"
            r="45"
            stroke="green"
            stroke-width="12"
            fill="#3f0c09"
          />
          <!-- Check -->
          <path
            d="M30 50 L45 65 L75 30"
            stroke="green"
            stroke-width="12"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </h1>
      <p class="paragraphConfirmation">
        Your order has been successfully processed. You will receive an email
        confirmation shortly.
      </p>
      <div class="containerData_02">
        <div class="boxData_02">
          <h2
          style="margin-top: 5px;"
          >Personal informations</h2>
          <ul id="ul1">
            <li >Name: <span id="span1"></span></li>
            <li >Surname: <span id="span2"></span></li>
            <li >Email: <span id="span3"></span></li>
            <li >Phone number: <span id="span4"></span></li>
          </ul>
        </div>
        <div class="boxData_02">
          <h2>Shipping address</h2>
          <ul id="ul2">
            <li >Street: <span id="span5"></span></li>
            <li >City: <span id="span6"></span></li>
            <li >Country: <span id="span7"></span></li>
            <li >Zip code: <span id="span8"></span></li>
          </ul>
      </div>
    </div>
    <script type="module" src="../../js/app.js"></script>
    <script  type="module"  src="./paid-page.js"></script>
  </main>
</html>
