.containerUserDataForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  padding: var(--size-double);
  background: var(--color-secondary-background);
  height: 50vh;
  height: 100%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.containerUserDataForm .containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-half);
  padding: var(--size-half);
  min-width: 300px;
  width: 700px;
  max-width: 70vw;
  min-height: 50vh;
  height: 100%;
  color: var(--color-secondary);
}
.containerUserDataForm .containerForm #personalInfoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: var(--size-primary);
}
.containerUserDataForm .containerForm #personalInfoForm .boxInput {
  display: flex;
  flex-direction: column;
  gap: var(--size-half);
  width: 100%;
  max-width: 300px;
}
.containerUserDataForm .containerForm #personalInfoForm .boxInput input {
  padding: var(--size-half);
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-07);
  font-size: var(--size-small);
}

@media screen and (max-width: 700px) {
  .containerUserDataForm .containerForm {
    max-width: 90vw;
  }
}
.containerAddresDataForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  padding: var(--size-double);
  background: var(--color-secondary-background);
  height: 50vh;
  height: 100%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.containerAddresDataForm .containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-half);
  padding: var(--size-half);
  min-width: 300px;
  width: 700px;
  max-width: 70vw;
  min-height: 50vh;
  height: 100%;
  color: var(--color-secondary);
}
.containerAddresDataForm .containerForm #addressInfoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: var(--size-primary);
}
.containerAddresDataForm .containerForm #addressInfoForm .boxInput {
  display: flex;
  flex-direction: column;
  gap: var(--size-half);
  width: 100%;
  max-width: 300px;
}
.containerAddresDataForm .containerForm #addressInfoForm .boxInput input {
  padding: var(--size-half);
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-07);
  font-size: var(--size-small);
}

@media screen and (max-width: 700px) {
  .containerAddresDataForm .containerForm {
    max-width: 90vw;
  }
}
.containerPaymentDataForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  padding: var(--size-double);
  background: var(--color-secondary-background);
  height: 50vh;
  height: 100%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.containerPaymentDataForm .containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-half);
  padding: var(--size-half);
  min-width: 300px;
  width: 700px;
  max-width: 70vw;
  min-height: 50vh;
  height: 100%;
  color: var(--color-secondary);
}
.containerPaymentDataForm .containerForm #paymentInfoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: var(--size-primary);
}
.containerPaymentDataForm .containerForm #paymentInfoForm .boxInput {
  display: flex;
  flex-direction: column;
  gap: var(--size-half);
  width: 100%;
  max-width: 300px;
}
.containerPaymentDataForm .containerForm #paymentInfoForm .boxInput input {
  padding: var(--size-half);
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-07);
  font-size: var(--size-small);
}

@media screen and (max-width: 700px) {
  .containerPaymentDataForm .containerForm {
    max-width: 90vw;
  }
}
.containerPaidPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  padding: var(--size-double);
  color: var(--color-primary);
  background: var(--color-secondary-background);
  min-height: 100vh;
}
.containerPaidPage .paragraphConfirmation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  font-size: 22px;
}
.containerPaidPage .containerData_02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  border: groove 4px green;
  border-radius: var(--size-primary);
}
.containerPaidPage .containerData_02 .boxData_02 {
  color: var(--color-06);
  padding: 0 var(--size-half);
  width: 100%;
  box-sizing: border-box;
}
.containerPaidPage .containerData_02 .boxData_02 ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

:root {
  --color-primary: #232c2b;
  --color-secondary: #444d3a;
  --color-tertiary: #9d7551;
  --color-quaternary: #232c2b;
  --color-05: #342214;
  --color-06: #fafafa;
  --color-07: #f1ead7;
  --color-primary-background: #f1ead7;
  --color-secondary-background: #3f0c09;
  --color-tertiary-background: #d1b48c;
  --color-quaterny-background: #cebbaa;
  --color-text-primary: #232c2b;
  --color-text-secondary: #444d3a;
  --color-text-tertiary: #f39c12;
  --color-text-quaternary: #35434e;
  --font-primary: Arial, sans-serif;
  --size-primary: 1rem;
  --size-half: 0.5rem;
  --size-secondary: 1.2rem;
  --size-tertiary: 1.4rem;
  --size-double: 2rem;
}

html body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--color-quaterny-background);
  color: var(--color-primary);
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  /* Style for autofill in Webkit (Chrome, Safari) */
  /* Style for autofill with focus */
  /* Styles for Firefox */
  /* Styles for autofill with focus in Firefox */
}
body input:-webkit-autofill {
  background-color: var(--color-primary) !important;
  color: var(--color-07) !important;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
body input:-webkit-autofill:focus {
  background-color: var(--color-primary) !important;
  color: var(--color-07) !important;
}
body input:-moz-autofill {
  background-color: var(--color-primary) !important;
  color: var(--color-07) !important;
}
body input:-moz-autofill:focus {
  background-color: var(--color-primary) !important;
  color: var(--color-07) !important;
}
body button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-06);
  border-radius: var(--size-primary);
}
body button:active {
  font-size: 15px;
  filter: drop-shadow(3px 2px 7px var(--color-text-tertiary));
  background-color: var(--color-05);
}
