<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Data</title>
    <!-- <link rel="stylesheet" href="../../css/styles.css" /> -->
    <!-- <link rel="stylesheet" href="./user-data.scss" /> -->
  </head>
  <div class="containerUserDataForm">
    <div class="containerForm">
      <form action="/save-data" id="personalInfoForm">
        <div class="boxInput">
          <label for="name"><b>Name</b></label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="boxInput">
          <label for="surname"><b>Surname</b></label>
          <input type="text" id="surname" name="surname" required />
        </div>
        <div class="boxInput">
          <label for="email"><b>Email</b></label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="boxInput">
          <label for="phoneNumber"><b>Phone number</b></label>
          <input type="text" id="phoneNumber" name="phoneNumber" required />
        </div>
      </form>
    </div>

    <script src="./user-data.js"></script>
  </div>
</html>
