<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Data</title>
    <link rel="stylesheet" href="../../css/styles.scss" />
    <link rel="stylesheet" href="./user-data.scss" />
  </head>
  <div class="containerUserDataForm">
    <div class="containerForm">
      <form action="/save-data" id="personalInfoForm">
        <div class="boxInput">
          <label for="name"><b>Name</b>:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="boxInput">
          <label for="name"><b>Surname</b>:</label>
          <input type="text" id="surname" name="surname" required />
        </div>
        <button class="btnSave" onclick="saveDataUser()">Save</button>
      </form>
    </div>
    <style>
      .containerUserDataForm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: var(--size-primary);
        padding: var(--size-double);
        background: var(--color-secondary-background);
        height: 50vh;
        box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
      }
    </style>
    <script src="./user-data.js"></script>
  </div>
</html>
