<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Data</title>
    <link rel="stylesheet" href="../../css/styles.scss" />
    <link rel="stylesheet" href="./user-data.scss" />
  </head>
  <div class="containerUserDataForm">
    <h2 id="h2_titleUserData"></h2>
    <button onclick="saveDataUser()">Save Personal Data</button>

    <script src="./user-data.js"></script>

    <style>
      button {
        cursor: pointer;
      }
    </style>
  </div>
</html>
