.containerAddresDataForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  padding: var(--size-double);
  background: var(--color-secondary-background);
  height: 50vh;
  height: 100%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);

  .containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-half);
    padding: var(--size-half);
    min-width: 300px;
    width: 700px;
    max-width: 70vw;
    min-height: 50vh;
    height: 100%;
    color: var(--color-secondary);

    #addressInfoForm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      gap: var(--size-primary);

      .boxInput {
        display: flex;
        flex-direction: column;
        gap: var(--size-half);
        width: 100%;
        max-width: 300px;

        input {
          padding: var(--size-half);
          border: none;
          border-radius: 5px;
          background-color: var(--color-primary);
          color: var(--color-07);
          font-size: var(--size-small);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .containerAddresDataForm {
    .containerForm {
      max-width: 90vw;
    }
  }
}
