@import "../components/user-data/user-data.scss";

:root {
  --color-primary: #1983ca;
  --color-secondary: #f1c40f;
  --color-tertiary: #ce3422;
  --color-quaternary: #19c460;
  --color-05: #0c0606;
  --color-06: #fafafa;
  --color-primary-background: #ededed;
  --color-secondary-background: #322d1b;
  --color-tertiary-background: gold;
  --color-quaterny-background: #f0d123;
  --color-text-primary: #34495e;
  --color-text-secondary: #95a5a6;
  --color-text-tertiary: #f39c12;
  --color-text-quaternary: #27ae60;
  --font-primary: Arial, sans-serif;
  --size-primary: 1rem;
  --size-half: 0.5rem;
  --size-secondary: 1.2rem;
  --size-tertiary: 1.4rem;
  --size-double: 2rem;
}

html body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--color-secondary-background);
  color: var(--color-primary);
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  color: --color-text-primary;
  background: linear-gradient(
    335deg,
    var(--color-tertiary-background) 30%,
    var(--color-secondary-background) 90%
  );
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-06);
}
